header {
  background-color: #352d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: inline-block;
  margin-left: 20px;
  color: white;
  font-family: Economica, sans-serif;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  margin-right: 180px;
  margin-left: 300px;
}

.caps {
  display: flex;
  justify-content: center;
  font-family: Economica, sans-serif;
  color: white;
  margin-top: 20px;
  font-size: 30px;
}

p {
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  font-family: Economica, sans-serif;
  margin-bottom: 20px;
}

button {
  font-family: Economica, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 200px;
  height: 40px;
  margin-left: 450px;
}

.top_section {
  display: inline-flex;

  width: 1208px;
}

.icons {
  display: flex;
  color: white;
  width: 290px;
  justify-content: flex-end;
}

i {
  margin-left: 10px;
}

.third-section {
  display: grid;
  height: 500px;
  grid-template-columns: 50% auto;
}

.highlighted-projects {
  display: grid;
}

.white-area {
  display: grid;
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
}

.colored-boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 200px;
}

.light-grey-area {
  display: grid;

  background-color: #605a5c;
}

.dark-grey-area {
  display: grid;

  background-color: #352d2f;
}

.light-grey-area-2 {
  display: grid;

  background-color: #605a5c;
}

.white-area-2 {
  display: grid;
  width: auto;
  background-color: whitesmoke;
}

.p3 {
  display: grid;
  color: black;
  size: 10px;
  padding-left: 15%;
}

.head-2 {
  color: black;
  font-family: Economica, sans-serif;
  display: grid;
  justify-self: center;
}

.button-2 {
  background-color: #f63c3c;
  display: grid;
  margin-right: 0%;
  margin-left: 40%;
  margin-top: 20px;
  border-style: none;
}

.p2 {
  display: grid;
  color: black;
  margin-left: 90px;
  size: 10px;
  justify-self: end;
}

.infinity-spaces {
  background-color: #f63c3c;
  display: grid;
  align-content: end;
}

h3 {
  display: grid;
  color: white;
  opacity: 50%;
  font-family: Economica, sans-serif;
  margin-left: 12.5%;
  justify-self: start;
}

.p4 {
  display: grid;
  color: white;
  font-family: Economica, sans-serif;
  opacity: 50%;
  justify-self: start;
  padding-right: 30%;
  margin-left: 12.5%;
}

.head {
  display: grid;
  color: white;
  font-family: Economica, sans-serif;
  margin-left: 12.5%;
  justify-self: start;
}

.fourth-section {
  display: grid;
  grid-template-columns: 50% auto;
  height: 700px;
  align-items: center;
  justify-content: center;
}

.head-history {
  display: grid;
  font-family: Economica, sans-serif;
  color: black;
}

.history {
  display: grid;
  font-family: Economica, sans-serif;
  color: black;
  width: 65%;
  justify-items: center;
}

.history-2 {
  display: grid;
  width: 65%;
  color: black;
  font-family: Economica, sans-serif;
}

.button-history {
  display: grid;
  background-color: #f63c3c;
  font-family: Economica, sans-serif;
  margin-left: -16%;
}

.sage {
  display: grid;
  justify-content: center;
  align-content: end;
  padding-top: 40%;
}

.bottom-sec {
  width: auto;
  box-sizing: border-box;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  margin-top: 10%;
}

.par {
  color: black;
  opacity: 70%;
  font-family: Economica, sans-serif;
  display: grid;

  width: auto;
}

.number {
  font-family: Economica, sans-serif;
  color: #f63c3c;
  font-style: normal;
  font-weight: bold;
  font-size: -webkit-xxx-large;
}

.projects {
  display: grid;
}

.img-a {
  display: grid;
  justify-self: center;
}

.screens {
  display: grid;
}

.img-b {
  display: grid;
  justify-self: center;
}

.emails {
  display: grid;
}

.img-c {
  display: grid;
  justify-self: center;
}

.services {
  display: grid;
  justify-content: center;
  margin-left: 18%;
}

.services-head {
  display: grid;
  align-self: start;
  font-family: Economica, sans-serif;
  font-size: 60px;
  margin-bottom: 3%;
}

.services-sub-sec {
  display: grid;
}

.par-services {
  font-family: Economica, sans-serif;
  color: black;
  display: grid;
  justify-self: start;
  width: 45%;
}

.head-service {
  color: black;
  font-family: Economica, sans-serif;
  display: grid;
  font-size: 20px;
  justify-self: start;
  margin-left: 0px;
}

.sec {
  display: inline-flex;
  width: 900xp;
}

*row {
  display: flex;
}

.row-1 {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  height: 260px;
}

.row-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 5%;
}

.sec-1 {
  display: grid;
  justify-self: start;
  align-self: start;
}

.sec-2 {
  display: grid;
  justify-self: center;
  align-self: start;
}

.sec-3 {
  display: grid;
  justify-self: end;
  align-self: flex-start;
}

.call-to-action-area {
  background-color: #352d2f;
  height: 30%;
  width: auto;
}

.ctaa {
  display: grid;
  margin-left: 0%;
  font-size: x-large;
  justify-content: center;
}

.par-ctaa {
  display: grid;
  font-family: Economica, sans-serif;
  font-size: 12px;
}

.journal {
  display: grid;
}

.header-journal {
  display: grid;
  align-self: start;
  justify-self: start;
  font-family: Economica, sans-serif;
  color: black;
  font-size: 390%;
}

.pre-head {
  display: grid;
  justify-self: center;
  font-family: Economica, sans-serif;
  color: #f63c3c;
  font-weight: bolder;
}

.head-journal {
  display: grid;
  justify-self: start;
  font-family: Economica, sans-serif;
  color: black;
  font-size: 150%;
}

.par-journal {
  display: grid;
  justify-self: center;
  font-family: Economica, sans-serif;
  color: black;
}

.part-1 {
  display: grid;
  align-self: start;
  width: 15%;
  justify-self: start;
}

.part-2 {
  display: grid;
  align-self: start;
  justify-self: center;
  width: 15%;
  margin-left: 1%;
}

.part-3 {
  display: grid;
  align-self: start;
  justify-self: end;
  width: 15%;
  margin-left: 1%;
}

.sub-secs-journal {
  display: inline-flex;
  justify-content: center;
}

.blank {
  color: #352d2f;
  height: 30%;
  display: grid;
}

.button-for-journal {
  display: grid;
  font-size: 15px;
  align-content: center;
  margin-left: 0%;
  border-color: #605a5c;
  background-color: white;
  align-self: end;
  width: 100px;
  justify-self: center;
}
