header {
  background-color: #352d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: inline-block;
  margin-left: 20px;
  color: white;
  font-family: Economica, sans-serif;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin-right: 180px;
  margin-left: 180px;
}

.caps {
  display: flex;
  justify-content: center;
  font-family: Economica, sans-serif;
  color: white;
  margin-top: 20px;
}

p {
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  font-family: Economica, sans-serif;
}
